<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
	<li class="header">功能目录</li>
	<li class="treeview active">
		<a href="#">
			<i class="fa fa-dashboard fa-fw"></i> <span>演示</span>
			<span class="pull-right-container">
				<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{:url('/index')}"><i class="fa fa-address-card-o fa-fw"></i> <span>Ueditor+七牛云+数据库</span></a></li>
			<li><a href="{:url('index/picture/bucket')}"><i class="fa fa-address-card-o fa-fw"></i> <span>bucket管理</span></a></li>
			<li><a href="{:url('index/picture/index')}"><i class="fa fa-address-card-o fa-fw"></i> <span>图片管理</span></a></li>
		</ul>
	</li>
</ul>